@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

/* Font */
* {
  font-family: "Outfit", sans-serif;
}
.custom-scroll {
  overflow: auto;             /* Allow scrolling */
  -ms-overflow-style: none;   /* Hide scrollbar in IE and Edge */
  scrollbar-width: none;      /* Hide scrollbar in Firefox */
}

.custom-scroll::-webkit-scrollbar {
  display: none;              /* Hide scrollbar in Chrome, Safari, Edge */
}


